* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.nav ul li {
  margin: 10%;
  margin-top: auto;
}
.search {
  width: 250px;
  margin-right: 15px;
  margin-top: 10px;
  display: inline-flex;
  background-color: rgb(243, 238, 238);
  border-radius: 7px;
  align-items: center;
}
.search input {
  width: 125%;
  height: 30px;
  background-color: rgb(243, 238, 238);
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 0px 7px 7px 0px;
}
.nav ul li img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-top: 15px;
  object-fit: cover;
}
section {
  padding: 30px 15%;
  background-color: #fafafa;
  display: flex;
}
.left {
  width: 65%;
  background-color: #fafafa;
}
.left .story {
  display: flex;
  padding: 12px;
  background-color: white;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
}
.left .story .stories {
  width: 17%;
  display: flex;
  padding-left: 20px;
  text-align: center;
}
.stories a img {
  border-radius: 50%;
  border: 2px solid #c62d8f;
  padding: 1px;
  object-fit: cover;
}
.left .story .stories p {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.posts .profile img {
  border: 3px solid #c62d8f;
  border-radius: 50%;
}
.header1 {
  display: flex;
  justify-content: flex-start;
}
.left .posts .post img {
  width: 99%;
  height: 99%;
}
.posts {
  background-color: white;
  padding-top: 10px;
  border: 1px solid rgb(243, 238, 238);
}
.right {
  width: 35%;
  padding-left: 46%;
}
